@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define a custom keyframes animation for the spring effect */
@keyframes spring {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1.1);
  }
  80% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}

/* Create a custom class for the spring effect */
.spring-click {
  animation: spring 0.6s ease;
}

@layer utilities {
  .ghost {
    border-radius: 1.5em;
    background-color: rgba(0, 0, 0, 0.046);
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  /* For IE, Edge and Firefox */
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
/* Nav Menu effects */
